div.to-the-top
	position fixed
	z-index 1
	cursor pointer

	opacity 0
	visibility hidden

	&.active
		opacity 1
		visibility visible

	&:before
		position absolute
		content '▲'	// ▲⬆↑
		margin-top -.1em

	&:after
		content 'Back to the top'
		margin-left 1.25em
